body{
    background-color: #FCF2F0;
}

h1{
    text-align: center;
}

#final-result{
   padding: 30px; 
}

.score-board{
    height: 50px;
    border: solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.logos{
    width: 25%;
    border: solid;
    border-radius: 12%;
}
}